.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scanner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 14, 14);
}

#qrCodeContainer {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  overflow: hidden;

}

#qr-shaded-region{
  border-width: 50px !important;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto !important;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.qr-message{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  font-size: 18px;
  color: #fff;
  text-align: center;
  word-break: break-all;
}

.start-button {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 0;
  border-radius: 7px;
  font-size: 20px;
  color: #fff;
}
